body {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

header {
    width: 100vw;
    min-height:10vh;
}

main {
    width: 100vw;
    min-height:85vh;
}

footer {
    width: 100vw;
    min-height:5vh;
}